.unite
{
	font-size:1cm;
}
.unite1
{
	font-size:5 mm;
}
.unite2
{
	font-size:0.5in;
}
.unite3
{
	font-size:25pt;
}
.unite4
{
	font-size:1pc;
}
.unite5
{
	font-size:30px;
}


.unite6
{
	font-size:3em;
}
.unite7
{
	font-size:3rem;
}
.unite8
{
	font-size:3vh;
}
.unite9
{
	font-size:3vw;
}
.unite10
{
	font-size:3vmin;
}
.unite11
{
	font-size:3vmax;
}
.unite12
{
	font-size:100%;
}
h1
{
	color:#f5b507;
	text-align:center;
	background-color:#d5f2ee;
}
body
{
	background-color:#e6fcf4;
}
h2
{
	font-size:30px;
	text-align:center;
}